#logo-square {
    height: 23px;
    width: 23px;
    background-color: var(--main);
    border-radius: 3px;
    display: inline-block;
    margin: 20px 0 0 25px;
}

#logo {
    display: inline-block;
    margin: 0 0 0 3px;
    font-size: 2em;
}

.nav {
    background-color: white;
    height: 60px;
}